.header {
    height: $header-height;
    padding: $spacing;
    margin: 0px;
    background-color: black;
    color: white;
    display: block;
    font-size: 14px;
    .search {
        margin: 0 auto;
        align-vertical: middle;
        text-align: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        .search__inputs {
            label {
                display: flex;
                justify-content: flex-start;
                position: relative;
                top: 1vh;
                max-width: 66.666%;
                color: mix($color-background, $color-primary, 60%);
            }
            input {
                -moz-transition: all 200ms ease;
                -webkit-transition: all 200ms ease;
                transition: all 200ms ease;
                text-align: center;
                font-family: 'Fira Sans';
                font-size: 22px;
                border: 0;
                margin: 1vw 0;
                position: relative;
                top: 1vw;
                border-bottom: 1px solid $color-primary;
                color: #ffffff;
                background-color: $color-primary;
                border-radius: 0;
                padding: $spacing/2 0;
                &:focus + label {
                    position: relative;
                    top: 1.5vw;
                    padding: 0 0 0 $spacing/5;
                    outline: 0;
                    border-color: mix($color-background, $color-primary, 30%);
                }
                &:placeholder-shown {
                    display: flex;
                    align-self: center;
                    color: $color-background;
                    background-color: $color-primary;
                    cursor: text;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                }
                &:not(:placeholder-shown),
                &:focus {
                    position: relative;
                    top: 1vw;
                    color: $color-background;
                    background-color: $color-primary;
                    -webkit-transform: translate(0, 0) scale(1);
                    transform: translate(0, 0) scale(1);
                    cursor: default;
                    color: mix(#fff, $color-primary, 30%);
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
        ::-webkit-input-placeholder {
            opacity: 0;
            -webkit-transition: inherit;
            transition: inherit;
        }
    }
}

@media only screen and (min-width: $mq-medium) {
    .header {
        .search {
            .search__inputs {
                max-height: 65px;
                margin-bottom: 10px;
                width: 80%;
                input {
                    position: relative;
                    top: 0.5vw;
                    font-size: 24px;
                    &:focus + label {
                        position: relative;
                        top: 1vw;
                    }
                    &:not(:placeholder-shown),
                    &:focus {
                        position: relative;
                        top: 0.5vw;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $mq-large) {
    .header {
        height: $header-height;
        padding: $spacing;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        .search {
            .search__inputs {
                max-height: 65px;
                width: 50%;
                input {
                    font-size: 26px;
                }
            }
        }
    }
}

button {
    margin: 0px $spacing/2 $spacing $spacing/2;
}

.red {
    border: 1px solid #f03;
    background: #f00;
    border: none;
    background-image: -webkit-linear-gradient(top, #f00, #f22);
    background-image: -moz-linear-gradient(top, #f00, #f22);
    background-image: -ms-linear-gradient(top, #f00, #f22);
    background-image: -o-linear-gradient(top, #f00, #f22);
    background-image: linear-gradient(to bottom, #f00, #f22);    
    &:hover {
        background: mix(#f00, #fff, 90%);
        background-image: -webkit-linear-gradient(top, #f00, mix(#f00, #fff, 60%) );
        background-image: -moz-linear-gradient(top,  #f00, mix(#f00, #fff, 60%) );
        background-image: -ms-linear-gradient(top,  #f00, mix(#f00, #fff, 60%) );
        background-image: -o-linear-gradient(top,  #f00, mix(#f00, #fff, 60%) );
        background-image: linear-gradient(to bottom,  #f00, mix(#f00, #fff, 60%) );
        text-decoration: none; 
    }
}

.orange {    
    border: 1px solid #f30;
    background: #f30;
    background-image: -webkit-linear-gradient(top, #f30, #f60);
    background-image: -moz-linear-gradient(top, #f30, #f60);
    background-image: -ms-linear-gradient(top, #f30, #f60);
    background-image: -o-linear-gradient(top, #f30, #f60);
    background-image: linear-gradient(to bottom, #f30, #f60);
    &:hover {
        background: mix(#f30, #fff, 90%);
        background-image: -webkit-linear-gradient(top, #f30, mix(#f30, #fff, 60%) );
        background-image: -moz-linear-gradient(top,  #f30, mix(#f30, #fff, 60%) );
        background-image: -ms-linear-gradient(top,  #f30, mix(#f30, #fff, 60%) );
        background-image: -o-linear-gradient(top,  #f30, mix(#f30, #fff, 60%) );
        background-image: linear-gradient(to bottom,  #f30, mix(#f30, #fff, 60%) );
        text-decoration: none; 
    }
}


.yellow {    
    border: 1px solid #FD0;
    background: #ff0;
    background-image: -webkit-linear-gradient(top, #ff0, #ff4);
    background-image: -moz-linear-gradient(top, #ff0, #ff4);
    background-image: -ms-linear-gradient(top, #ff0, #ff4);
    background-image: -o-linear-gradient(top, #ff0, #ff4);
    background-image: linear-gradient(to bottom, #ff0, #ff4);
    &:hover {
        background: mix(#ff0, #fff, 90%);
        background-image: -webkit-linear-gradient(top, #ff0, mix(#ff0, #fff, 60%) );
        background-image: -moz-linear-gradient(top,  #ff0, mix(#ff0, #fff, 60%) );
        background-image: -ms-linear-gradient(top,  #ff0, mix(#ff0, #fff, 60%) );
        background-image: -o-linear-gradient(top,  #ff0, mix(#ff0, #fff, 60%) );
        background-image: linear-gradient(to bottom,  #ff0, mix(#ff0, #fff, 60%) );
        text-decoration: none; 
    }
}


.green {    
    border: 1px solid #09B500;
    background: #09B500;
    background-image: -webkit-linear-gradient(top, #09B500, #0f0);
    background-image: -moz-linear-gradient(top, #09B500, #0f0);
    background-image: -ms-linear-gradient(top, #09B500, #0f0);
    background-image: -o-linear-gradient(top, #09B500, #0f0);
    background-image: linear-gradient(to bottom, #09B500, #0f0);
    &:hover {
        background: mix(#09B500, #fff, 90%);
        background-image: -webkit-linear-gradient(top, #09B500, mix(#09B500, #fff, 60%) );
        background-image: -moz-linear-gradient(top,  #09B500, mix(#09B500, #fff, 60%) );
        background-image: -ms-linear-gradient(top,  #09B500, mix(#09B500, #fff, 60%) );
        background-image: -o-linear-gradient(top,  #09B500, mix(#09B500, #fff, 60%) );
        background-image: linear-gradient(to bottom,  #09B500, mix(#09B500, #fff, 60%) );
        text-decoration: none; 
    }
}


.blue {    
    border: 1px solid #00f;
    background: #00f;
    background-image: -webkit-linear-gradient(top, #00f, #33f);
    background-image: -moz-linear-gradient(top, #00f, #33f);
    background-image: -ms-linear-gradient(top, #00f, #33f);
    background-image: -o-linear-gradient(top, #00f, #33f);
    background-image: linear-gradient(to bottom, #00f, #33f);
    &:hover {
        background: mix(#00f, #fff, 90%);
        background-image: -webkit-linear-gradient(top, #00f, mix(#00f, #fff, 60%) );
        background-image: -moz-linear-gradient(top,  #00f, mix(#00f, #fff, 60%) );
        background-image: -ms-linear-gradient(top,  #00f, mix(#00f, #fff, 60%) );
        background-image: -o-linear-gradient(top,  #00f, mix(#00f, #fff, 60%) );
        background-image: linear-gradient(to bottom,  #00f, mix(#00f, #fff, 60%) );
        text-decoration: none; 
    }
}

.purple {    
    border: 1px solid #a0f;
    background: #a0f;
    background-image: -webkit-linear-gradient(top, #a0f, #C149FC);
    background-image: -moz-linear-gradient(top, #a0f, #C149FC);
    background-image: -ms-linear-gradient(top, #a0f, #C149FC);
    background-image: -o-linear-gradient(top, #a0f, #C149FC);
    background-image: linear-gradient(to bottom, #a0f, #C149FC);
    &:hover {
        background: mix(#a0f, #fff, 90%);
        background-image: -webkit-linear-gradient(top, #a0f, mix(#a0f, #fff, 60%) );
        background-image: -moz-linear-gradient(top,  #a0f, mix(#a0f, #fff, 60%) );
        background-image: -ms-linear-gradient(top,  #a0f, mix(#a0f, #fff, 60%) );
        background-image: -o-linear-gradient(top,  #a0f, mix(#a0f, #fff, 60%) );
        background-image: linear-gradient(to bottom,  #a0f, mix(#a0f, #fff, 60%) );
        text-decoration: none; 
    }
}

.black {    
    border: 1px solid #000;
    background: #000;
    background-image: -webkit-linear-gradient(top, #000, #222);
    background-image: -moz-linear-gradient(top, #000, #222);
    background-image: -ms-linear-gradient(top, #000, #222);
    background-image: -o-linear-gradient(top, #000, #222);
    background-image: linear-gradient(to bottom, #000, #222);
    &:hover {
        background: mix(#000, #fff, 90%);
        background-image: -webkit-linear-gradient(top, #000, mix(#000, #fff, 60%) );
        background-image: -moz-linear-gradient(top,  #000, mix(#000, #fff, 60%) );
        background-image: -ms-linear-gradient(top,  #000, mix(#000, #fff, 60%) );
        background-image: -o-linear-gradient(top,  #000, mix(#000, #fff, 60%) );
        background-image: linear-gradient(to bottom,  #000, mix(#000, #fff, 60%) );
        text-decoration: none; 
    }
}

.white {    
    border: 1px solid #ccc;
    background: #ccc;
    background-image: -webkit-linear-gradient(top, #ccc, #fff);
    background-image: -moz-linear-gradient(top, #ccc, #fff);
    background-image: -ms-linear-gradient(top, #ccc, #fff);
    background-image: -o-linear-gradient(top, #ccc, #fff);
    background-image: linear-gradient(to bottom, #ccc, #fff);
    &:hover {
        background: mix(#ccc, #fff, 90%);
        background-image: -webkit-linear-gradient(top, mix(#ccc, #fff, 60%), #fff );
        background-image: -moz-linear-gradient(top,  mix(#ccc, #fff, 60%), #fff );
        background-image: -ms-linear-gradient(top,  mix(#ccc, #fff, 60%), #fff );
        background-image: -o-linear-gradient(top,  mix(#ccc, #fff, 60%), #fff );
        background-image: linear-gradient(to bottom,  mix(#ccc, #fff, 60%), #fff );
        text-decoration: none; 
    }
}