$mq-medium: 768px;  
$mq-large: 	1024px; 

$color-primary: #000000;
$color-background: #ffffff;
$header-height: 60px;
$spacing: 10px;

//@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';

@import url(//fonts.googleapis.com/css?family=Fira+Sans:300);

body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
  font-family: 'Fira Sans';
  font-size: 18px; 
}

@media only screen and (min-width: $mq-large) {
    body {
      padding-top: $header-height + $spacing*4;
    }
}



@keyframes rotateSpinner {
	to {
		transform: rotate(360deg);
	}
}