<div class="header">
    <div class="search">

        <div class="search__inputs">
            <input #search type="text" name="search" id="search" placeholder="{{searchText}}" autofill="autofill" (change)="onSearch(search.value)" [(ngModel)]="phrase">
            <label for="search">{{searchText}}</label>
        </div>
    </div>
</div>

    <h1>Flickrgallery using Angular 2</h1>
<h2>Filter you search on a color</h2>
<button (click)="filterSearch('red');" class="red"></button>
<button (click)="filterSearch('orange')" class="orange"></button>
<button (click)="filterSearch('yellow')" class="yellow"></button>
<button (click)="filterSearch('green')" class="green"></button>
<button (click)="filterSearch('blue')" class="blue"></button>
<button (click)="filterSearch('purple')" class="purple"></button>
<button (click)="filterSearch('black')" class="black"></button>
<button (click)="filterSearch('white')" class="white"></button>