.tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    .tile {
        align-items: center;
        justify-content: center;
        position: relative;
        margin: $spacing/10;
        cursor: pointer;
        overflow: hidden;
        width: 32vw;
        height: 32vw;
        .image {
            width: auto;
            height: 32vw;
            background-color: transparent;
            background-position: center 25%;
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 500ms ease;
            -moz-transition: transform 500ms ease;
            -webkit-transition: transform 500ms ease;
            &:hover,
            &:focus {
                justify-content: center;
                transform: scale(1.1);
                z-index: 2;
                label {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 25vw;
                }
            }
            label {
                padding: 0 3vw 1vw 3vw;
                position: absolute;
                left: 0;
                right: 0;
                top: 25vw;
                color: $color-background;
                background-color: rgba(0, 0, 0, 0.4);
                height: 6vw;
                font-size: 3vw;
                font-weight: 800;
                text-transform: uppercase;
                text-shadow: 0 0 5px rgba(0, 0, 0, .6);
                line-height: 6vw;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}