.tiles {
    .tile {
        margin: $spacing/5;
        width: 24vw;
        height: 24vw;
        .image {
            height: 24vw;
            &:hover, &:focus {
                label {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 20vw;
                }
            }
            input {
                 &:placeholder-shown + label {
                    min-height: 22px;
                    line-height: 22px;
                    font-size: 16px;
                }
            }
            label {
                padding: 0 1.5vw 0.5vw 1.5vw;
                position: absolute;
                left: 0;                
                top: 29vw;
                z-index: -3;
                height: 3vw;
                line-height: 3vw;
                font-size: 1.5vw;
            }
        }
    }
}