.tiles {
    .tile {
        position: relative;
        margin: $spacing/2;
        width: 18vw;
        height: 18vw;
        img {
            height: 18vw;
            & + label {
                height: 3vw;
                line-height: 3.25vw;
                font-size: 1.5vw; 
            }
        }
    }
}