.tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    .tile {
        margin: $spacing/2;
        cursor: pointer;
        overflow: hidden;
        width: 18vw;
        height: 18vw;
    }
}

.active {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    marginTop: -31vw;
    marginLeft: -31vw;
    boxShadow: 0 0 40px 5px rgba(0, 0, 0, 0.3);
    transform: none;
}

.active img {
    width: 62vw;
    height: 62vw;
}