@keyframes title {
    0% {
        transform: translateX(6vw);
    }
    50% {
        transform: translateY(4.5vw);
    }
    100% {
        transform: translateY(-3vw);
    }
}

.tiles {
    .tile {
        margin: $spacing/2;        
        width: 18vw;
        height: 18vw;
        .image {
            height: 18vw;
            &:hover,
            &:focus {
                -webkit-transition-property: transform;
                -moz-transition-property: transform;
                transition-property: transform;
                label {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 18vw;
                    -webkit-transform: translateY(-3vw);
                    -moz-transform: translateY(-3vw);
                    transform: translateY(-3vw);
                    animation-name: title;
                    animation-duration: 800ms;
                    animation-delay: 0s;
                    animation-timing-function: linear;
                    animation-direction: alternate;
                }
            }
            label {
                padding: 0 1vw 1vw 1vw;
                height: 2vw;
                line-height: 2.25vw;
                font-size: 1vw;
            }
        }
    }
}
