.header {
    font-size: 14px;
    .search {
        .search__inputs {
            margin-bottom: 10px;
            width: 80%;
        }
    }
}

button {
    width: 3vw;
    height: 3vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}