.header {
    height: $header-height;
    padding: $spacing;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    margin: 0px;
    font-size:16px;
    .search {
        margin: 0 auto;
        width: 100%;
        .search__inputs {
            max-height: 65px;
            margin-bottom: 10px;
            width: 50%;
            input {
                padding: 5px 0;
                
                 &:placeholder-shown + label {
                    min-height: 22px;
                    line-height: 22px;
                    font-size: 18px;
                }
            }
        }
    }
}

button {
    width: 2vw;
    height: 2vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}