.header {
    height: $header-height;
    padding: $spacing;
    margin: 0px;
    background-color: black;
    color: white;
    display: block;
    font-size: 14px;
    .search {
        margin: 0 auto;
        align-vertical: middle;
        text-align: center;
        justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        .search__inputs {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column-reverse;
            -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
            max-height: 65px;
            margin: 0 $spacing/2 $spacing $spacing/2;
            width: 100%;
            label {
                display: flex;
                justify-content: flex-start;
                -webkit-transition: all 200ms ease;
                transition: all 200ms ease;
            }
            input {
                -webkit-transition: all 200ms ease;
                transition: all 200ms ease;  
                text-align: center;
                font-family: 'Fira Sans';
                font-size: 24px;
                border: 0;
                border-bottom: 1px solid $color-primary;
                color: #ffffff;
                background-color: $color-primary;
                -webkit-appearance: none;
                border-radius: 0;
                padding: $spacing/2 0;
                &:focus {
                    padding: 0 0 0 $spacing/5;
                    outline: 0;
                    border-color: mix($color-background, $color-primary, 30%);
                }
                &:placeholder-shown + label {
                    display: flex;
                    align-self: center;
                    color: $color-background;
                    background-color: $color-primary;
                    cursor: text;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-transform-origin: left bottom;
                    transform-origin: left bottom;
                    -webkit-transform: translate(0, 2.125em) scale(1.5);
                    transform: translate(0, 2.125em) scale(1.5);
                    text-align: left;
                }
                &:not(:placeholder-shown) + label,
                &:focus + label {
                    align-self: center;
                    color: $color-background;
                    background-color: $color-primary;
                    -webkit-transform: translate(0, 0) scale(1);
                    transform: translate(0, 0) scale(1);
                    cursor: default;
                    color: mix(#fff, $color-primary, 30%);
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
        label {
            max-width: 66.666%;
            color: mix($color-background, $color-primary, 60%);
        }
        ::-webkit-input-placeholder {
            opacity: 0;
            -webkit-transition: inherit;
            transition: inherit;
        }
    }
}